@import 'base/colors';
@import 'extension/mixins';
@import 'components/footer';

@import 'components/sectionInicio';
@import 'components/sectionPresentacion';
@import 'components/sectionTours';
@import 'components/sectionTienda';
@import 'components/sectionContacto';


* { /*Reinicio de estilos por defecto en la pagina*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{ /*Definicion general de fuente y tamanio de la fuente de la pagina*/
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 3px;
    word-spacing: 10px;
}
.menuPagina {
    background-color: $colorPrimario;
}

header nav a { /*Propiedades aplicadas sobre los links*/
    font-size: larger;
    padding:6px;
}

.titulos{ /*Propiedades para todos los titulos de la pagina, sean H1 o no*/
    text-align: center;
    margin-bottom: 20px;;
}

input{
    width:100%;
}

