/*Atributos para la seccion de presentacion */
.seccionPresentacion{
    @include imagenFondo($colorFondo2,$colorFondo1);
}

.seccionPresentacion h2{
    text-align: center;
}

.seccionPresentacion p {
    text-indent:2em;
    padding-bottom:20px;
    text-align:justify;
    white-space: pre-line;
}

.fotoAle, .fotoKey{
    width:150px;
    height:150px;
}